.but_category {
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    width: 100%;
}

.body_center {
    margin-left: 2%;
    margin-right: 2%;

}

.mt-30 {
    margin-top: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.br {
    border-radius: 10px;
}

.p-top-15 {
    padding-top: 15px;
}

.p-bottom-15 {
    padding-bottom: 15px;
}

.p-right-15 {
    padding-right: 15px;
}

.hidden {
    display: none;
}

.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}

.photo:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(177, 95, 15, 0.53); /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; /*Центрирование по вертикали */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 20px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    border-radius: 10px;
}

.al-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right
}


.search-input {
    border-radius: 20px;
}

.al-vert {
    justify-content: center;
}