{% extends "base.html" %}

{% block content %}
<h1>Новое объявление</h1>
<form id="form" action="" method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}
    <div style="width: 97%; margin-left: 2%;" class="border rounded">
        <div  class="row p-bottom-15 p-top-15">
            <div class="col-md-4 mt-15">
                {{form.image(id="img", class="hidden")}}
                <div id="img_click" class="photo" data-title="Изменить изображение">
                    <img id="img_src" class="br" src="/static/img/{{random_name}}" width="100%">
                </div>
            </div>
            <div class="col-md-8">
                <br><br><br>
                <div>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control") }}<br>
                </div>

                <div>
                    <select id="cat_sel" onchange="category_sellect(this)">
                        {% for cat in category %}
                        {% if cat == form.category.data %}
                        <option selected="selected"> {{ cat }}</option>
                        {% else %}
                        <option>{{ cat }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {{form.category(class="hidden")}}
                </div>
                <div>
                    {{ form.price.label }}<br>
                    {{ form.price(class="form-control") }}<br>
                </div>
                <div class="row">
                    <div class="col-md3 pl-15">
                        {{ form.vk.label }}<br>
                        {{ form.vk(class="form-control") }}
                        {% for error in form.vk.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}

                    </div>
                    <div class="col-md3 pl-15">
                        {{ form.instagram.label }}<br>
                        {{ form.instagram(class="form-control") }}
                        {% for error in form.instagram.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="col-md3 pl-15">
                        {{ form.site.label }}<br>
                        {{ form.site(class="form-control") }}
                        {% for error in form.site.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}

                    </div>
                    <div class="col-md3 pl-15">
                        {{ form.telephone.label }}<br>
                        {{ form.telephone(class="form-control") }}
                        {% for error in form.telephone.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control", rows='10') }}
        </div>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </div>
</form>
<script>
    window.onload = function() {
        document.getElementById('img_click').addEventListener('click', function (e) {
            var input = document.getElementById("img");
            input.type = 'file';
            input.accept=".jpg, .jpeg, .png";
            input.onchange = e => {
                var file = e.target.files[0];
                document.getElementById("img_src").src = window.URL.createObjectURL(file);
                form.image = input
            };
            input.click();
        });
    };
    function category_sellect(obj) {
        var btnValue = obj.options[obj.selectedIndex].value;
        form.category.value = btnValue
    }

</script>
{% endblock %}