{% extends "base.html" %}

{% block content %}
    <div style="width: 80%">
        <h1>Мои объявления</h1>
        <a href="/new_ad" style="width: 320px; background: rgb(122,67,214);
                                       color: azure;
        margin-top: 20px" class="nav-link btn">Создать объявление</a>
            {% for advertising in advertisings %}
                <div class="row border rounded mt-30 p-bottom-15 p-top-15">
                    <div class="col-md-4">
                        <img class="mt-15 br"  src="/static/img/{{ advertising.image }}" width="100%">
                    </div>
                    <div class="col-md-8">

                        {% if advertising.title|length > 30  %}
                            <h2>{{ advertising.title[:30] + "..." }}</h2>
                        {% else %}
                            <h2>{{ advertising.title }}</h2>
                        {% endif %}
                        <br>
                        <div>
                            {% if advertising.text|length > 300 %}
                                {{ advertising.text[:300] + "..." }}
                            {% else %}
                                {{ advertising.text }}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md6"><br>
                                <a href="/my_advertising/edit_ad/{{ advertising.id }}" class="btn btn-warning">Изменить</a>
                                <a href="/my_advertising/delete_ad/{{ advertising.id }}" class="btn btn-danger">Удалить</a>
                            </div>
                            <div class="col-md al-right">
                                <br>Дата написания - {{ advertising.create_date }}
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}